

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<address>
    Mørkhøjvej 12893 <br />
    Jatrabari, 12 40 gupibag - Rajshahi<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>