
@{
    Layout = null;
}
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table>
    <tr>
        <td><strong>Dhaka Branch:</strong> </td>
        <td>
            <address>
                Mørkhøjvej 12893 <br />
                Jatrabari, 12 40 gupibag - Rajshahi<br />
                <abbr title="Phone">P:</abbr>
                425.555.0100
            </address>
        </td>
    </tr>
    <tr>
        <td><strong>Khulna Branch:</strong></td>
        <td>
            <address>
                Mørkhøjvej 12893 <br />
                Jatrabari, 12 40 gupibag - Rajshahi<br />
                <abbr title="Phone">P:</abbr>
                425.555.0100
            </address>
        </td>
    </tr>
    <tr>
        <td><strong>MAP:</strong></td>
        <td>
            <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d29222.694588320133!2d90.4473941115768!3d23.71752050583888!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sjatrabari+thana%2C+dhaka!5e0!3m2!1sen!2sdk!4v1511431253061" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
        </td>
    </tr>

</table>



