

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div>
    <box id="head" style="width:auto;background-color:orange; text-align:center"><h5><b>HATBAZAR.COM TERMS AND CONDITIONS</b></h5></box>
    <box>

        <p>Please read the terms and conditions ("Terms and Conditions") set out below carefully before ordering any Goods or Services from this Website. By ordering any Goods or Services from this Website, by phone, or by our mobile applications you agree to be bound by these Terms and Conditions.</p>
        <p>
            <b>Section 1:</b> Introduction; We are shwapno.com, a brand extension of the best retail brand Shwapno (ACI Logistics Ltd)
        </p>
        <h5><b>Section 2: Definitions</b></h5>
        <p>
            2.1. "Agreement" is a reference to these Terms and Conditions, the Privacy Policy, any order form and payment instructions provided to you;
            2.2. "Privacy Policy" means the policy displayed on our Website which details how we collect and store your personal data;
            2.3. "you", "your" and "yours" are references to you the person accessing this Website and ordering any Goods or Services from the Website or from any other channel provided by shwapno.com
            2.4. "we", "us", "our", and "Shwapno.com" are references to the Company;
            2.5. "Goods" is a reference to any goods which we may offer for sale from our Website from time to time;
            2.6. "Service" or "Services" is a reference to any service which we may supply and which you may request via our Website;
            2.7. "Grocery Delivery" is a reference to perishable or non perishable grocery products and to any form of delivery service, which both are provided by our corresponding outlets
            2.9. "Website" is a reference to our Website http://www.Hat_Bazar.com or our mobile applications on which we offer our Goods or Services.
        </p>


        <h5><b>Section 3: Ordering</b></h5>
        <p>
            3.1. Any contract for the supply of Grocery Delivery from this Website is between you and the corresponding outlets; for the supply of Goods or Services from this Website any contact is between you and Shwapno.com. You agree to take particular care when providing us with your details and warrant that these details are accurate and complete at the time of ordering. You also warrant that the credit or debit card details that you provide are for your own credit or debit card and that you have sufficient funds to make the payment.
            3.2. Grocery Delivery, Goods and Services purchased from this Website are intended for your use only and you warrant that any Goods purchased by you are not for resale and that you are acting as principal only and not as agent for another party when receiving the Services.
            3.3. Please note that some of our Goods may be suitable for certain age ranges only. You should check that the product you are ordering is suitable for the intended recipient.
            3.4. When ordering from this Website you may be required to provide an e-mail address and password. You must ensure that you keep the combination of these details secure and do not provide this information to a third party.
            3.5. We will take all reasonable care, in so far as it is in our power to do so, to keep the details of your order and payment secure, but in the absence of negligence on our part we cannot be held liable for any loss you may suffer if a third party procures unauthorized access to any data you provide when accessing or ordering from the Website.
            3.6. Any order that you place with us is subject to product availability, delivery capacity and acceptance by us. When you place your order online, we will send you an email / SMS / confirmation call to confirm that we have received it. This confirmation (any of the mentioned form) will be produced automatically so that you have confirmation of your order details. You must inform us immediately if any details are incorrect. The fact that you receive an automatic confirmation does not necessarily mean that either we will be able to fill your order. Once we have sent the confirmation email we will check availability and delivery capacity.
            3.7. The confirmation message will specify delivery details including the approximate delivery time slot specified by the system or chosen by you and confirm the price of the Delivery, Goods and Services ordered.
            3.8. If the Delivery and/or Goods are not available or if there is no delivery capacity, we will also let you know by text message (SMS) or phone call.

        </p>

        <h5><b>Section 4: Prices and Payment</b></h5>
        <p>
            4.1. Any contract for the supply of Delivery from this Website is between you and the corresponding outlet; for the supply of Goods or Services from this Website any contact is between you and Shwapno.com. You agree to take particular care when providing us with your details and warrant that these details are accurate and complete at the time of ordering. You also warrant that the credit or debit card details that you provide are for your own credit or debit card and that you have sufficient funds to make the payment.
            4.2. All prices listed on the Website are correct at the time of publication; however, we reserve the right to alter these in the future. Prices are inclusive of the relevant sales tax and delivery charges. We also reserve the right to alter the Goods or Services available for sale on the Website and to stop listing restaurants, Goods or Services.
            4.3. All prices listed on the Website for Goods and Services by shwapno.com reflects the price at the time of listing. We give great care to keep them up to date. In case the price listed is not current, we will contact you to inform you about the price difference and you can choose to opt-out of the order.
            4.4. The total price for Grocery Delivery, Goods or Services ordered, including delivery charges and other charges, will be displayed on the Website when you place your order. Full payment must be made for all Goods dispatched and Services provided. Payment has to be made in cash or, if available on the website, by online payment, e.g. credit or debit card.
            4.5. If you choose online payment, you must pay for your order before it is delivered. To ensure that shopping online is secure, your debit/credit card details will be encrypted to prevent the possibility of someone being able to read them as they are sent over the internet. Your credit card company may also conduct security checks to confirm it is you placing the order.
        </p>

        <h5><b>Section 5: Delivery</b></h5>
        <p>
            5.1. Delivery periods quoted at the time of ordering are approximate only and may vary. Goods will be delivered to the address designated by you at the time of ordering.
            5.2. All orders are delivered by our homegrown delivery channel. We will make every effort to deliver within the time stated; however, we will not be liable for any loss caused to you after you receive the delivery. If the Goods are not delivered within the estimated delivery time quoted by us, please contact our Customer Support Team first.
            5.3. In case of a late delivery, the delivery charge will neither be voided nor refunded by shwapno.com.
            5.4. If you fail to accept delivery at the time they are ready for delivery, or we are unable to deliver at the nominated time due to your failure to provide appropriate instructions, or authorizations, then such goods shall be deemed to have been delivered to you and all risk and responsibility in relation to such goods shall pass to you. Any storage, insurance and other costs which we incur as a result of the inability to deliver shall be your responsibility and you shall indemnify us in full for such cost.
            5.5. You must ensure that at the time of delivery of Grocery Delivery and/or Goods adequate arrangements, including access where necessary, are in place for the safe delivery of such goods. We cannot be held liable for any damage, cost or expense incurred to such goods or premises where this arises as a result of a failure to provide adequate access or arrangements for delivery.
            5.6. Please note that it might not be possible for us to deliver to some locations even within the defined zones. If this is the case, we will inform you using the contact details that you provide to us when you make your order and arrange for cancellation of the order or delivery to an alternative delivery address;
        </p>

        <h5><b>Section 6: Cancellation/Return/Refund</b></h5>
        <p>
            6.1. You must notify us immediately if you decide to cancel your order, preferably by phone, and quote your order number/every details of the order possible.
            6.2. We may cancel a contract if the product is not available for any reason. However you will be able to see whether your product is available or not through our web interface We will notify you if this is the case and return any payment that you have made;
            6.3. If the cancellation was made in time before the delivery vehicles are dispatched, we will refund or re-credit your debit or credit card with the full amount within 21 days, which includes the initial delivery charge (where applicable) which you paid for the delivery of the Goods or the Services, as applicable.
            6.4. In the unlikely event that our delivery team delivers a wrong/damaged/decayed item, you have the right to reject the delivery of the wrong item and you shall be fully refunded for the missing item. If the delivery team can only do a partial delivery (a few items might be not available), we will inform you or propose a replacement for missing items. You have the right to refuse a partial order before delivery and get a refund.
        </p>


        <h5><b>Section 7: Information</b></h5>

        <p>
            7.1. Where we have requested information from you to provide Grocery Delivery, Goods or Services you agree to provide us with accurate and complete information.
            7.2. You are entitled to request a copy of the personal information we hold on you. Please contact us if you wish to request this information.
        </p>

        <h5><b>Section 8: Linked Sites</b></h5>
        <p>There may be a number of links on our Website to third party Websites which we believe may be of interest to you. We do not represent the quality of the Goods or Services provided by such third parties nor do we have any control over the content or availability of such sites. We cannot accept any responsibility for the content of third party Websites or the Services or Goods that they may provide to you.</p>

        <h5><b>Section 9: Complaints</b></h5>
        <p>We take complaints very seriously and aim to respond to your complaints within 3 business days. All complaints should be addressed to our hotline #16469</p>

        <h5><b>Section 10: Limitation of Liability</b></h5>
        <p>
            10.1. Great care has been taken to ensure that the information available on this Website is correct and error free. We apologize for any errors or omissions that may have occurred. We cannot warrant that use of the Website will be error free or fit for purpose, timely, that defects will be corrected, or that the site or the server that makes it available are free of viruses or bugs or represents the full functionality, accuracy, reliability of the Website and we do not make any warranty whatsoever, whether express or implied, relating to fitness for purpose, or accuracy.
            10.2. By accepting these terms of use you agree to relieve us from any liability whatsoever arising from your use of information from any third party, or your use of any third party website, or your consumption of any products from us.
            10.3. We disclaim any and all liability to you for the supply of the Grocery Delivery, Goods and Services to the fullest extent permissible under applicable law. This does not affect your statutory rights as a consumer. If we are found liable for any loss or damage to you such liability is limited to the amount you have paid for the relevant Goods or Services. We cannot accept any liability for any loss, damage or expense, including any direct or indirect loss such as loss of profits to you, howsoever arising. This limitation of liability does not apply to personal injury or death arising as a direct result of our negligence.
            10.4. We do not accept any liability for any delays, failures, errors or omissions or loss of transmitted information, viruses or other contamination or destructive properties transmitted to you or your computer system via our Website.
            10.5. The products sold by us are provided for private domestic and consumer use only. Accordingly, we do not accept liability for any indirect loss, consequential loss, and loss of data, loss of income or profit, loss of damage to property and/or loss from claims of third parties arising out of the use of the Website or for any products or services purchased from us.
            10.6. We have taken all reasonable steps to prevent Internet fraud and ensure any data collected from you is stored as securely and safely as possible. However, we cannot be held liable in the extremely unlikely event of a breach in our secure computer servers or those of third parties.
            10.7. In the event we have a reasonable belief that there exists an abuse of vouchers and/or discount codes or in suspected instances of fraud, we may cause the shopper (or customer) to be blocked immediately and reserves the right to refuse future service. Additionally, should there exist an abuse of vouchers or discount codes, we; shwapno.com reserves the right to seek compensation from any and all violators.
            10.8. Offers are subject to our discretion and may be withdrawn at any time and without notice.
        </p>

        <h5><b>Section 11: General</b></h5>
        <p>
            11.1. All prices are in Bangladeshi Taka.
            11.2. We may subcontract any part or parts of the Services or Goods that we provide to you from time to time and we may assign any part or parts of our rights under these Terms and Conditions without your consent or any requirement to notify you.
            11.3. We may alter or vary the Terms and Conditions at any time without notice to you.
            11.4. Payment must be made either at the time of ordering the Delivery, Goods or Services from us by credit card or at the time of delivery by cash. Failure to pay on time will result in the cancellation of your order.
            11.5. Do not use or launch any automated system or program in connection with our website or its online ordering functionality;
            11.6. Do not collect or harvest any personally identifiable information from the website, use communication systems provided by the website for any commercial solicitation purposes, solicit for any reason whatsoever any users of the website with respect to their submissions to the website, or publish or distribute any vouchers or codes in connection with the website, or scrape or hack the website.
            11.7. The Terms and Conditions together with the Privacy Policy, any order form and payment instructions constitute the entire agreement between you and us. No other terms whether expressed or implied shall form part of this Agreement. In the event of any conflict between these Terms and Conditions and any other term or provision on the Website, these Terms and Conditions shall prevail.
            11.8. If any term or condition of our Agreement shall be deemed invalid, illegal or unenforceable, the parties hereby agree that such term or condition shall be deemed to be deleted and the remainder of the Agreement shall continue in force without such term or condition.
            11.9. These Terms and Conditions and our Agreement shall be governed by and construed in accordance with the laws of Bangladesh. The parties hereto submit to the exclusive jurisdiction of the courts of Bangladesh.
            11.10. No delay or failure on our part to enforce our rights or remedies under the Agreement shall constitute a waiver on our part of such rights or remedies unless such waiver is confirmed in writing.
            11.11. These Terms and Conditions and a contract (and all non-contractual obligations arising out of or connected to them) shall be governed and construed in accordance with Bangladesh Laws. Both we and you hereby submit to the non-exclusive jurisdiction of the Bangladesh Courts. All dealings, correspondence and contacts between us shall be made or conducted in the English language.
        </p>


    </box>

</div>
