<div class="navbar-collapse collapse">


    @*@if ((int)(TempData["partial_Campaign"]) ==1)
    {
        <ul class="nav navbar-nav">
            <li> @Html.ActionLink("Register", "Register", "MyAccount")</li>
            <li> @Html.ActionLink("Log in", "Login", "MyAccount")</li>
        </ul>
    }*@
    

</div>

