
<div class="navbar-collapse collapse">


    @if (Session["Customer_id"] != null && Session["Cart"] != null)
    {
      <label style=" color :white ;">@Session["Cart"]</label>  




    }


</div>

