
<div class="navbar-collapse collapse">


    @if (TempData["partial_Offer"] != null)
    {
        <ul class="nav navbar-nav">
            <li> @Html.ActionLink("Offer", "Index", "Offer")</li>
            
        </ul>
    }
   

</div>